<div class="home">

  <bb-panel #editor id="top-right-view2 " [isView]='false' [divider]="divider2">
    <bb-panel #topWindow [isView]='false' class="" [parent]="editor" [divider]="divider4" class=" flex-column "
      style="flex-direction: column;" [rFlex]="true">
      <bb-panel id="top-window23" [isView]='false' [parent]="topWindow" #modelTop1 [rFlex]="true">
        <app-test class="inside"></app-test>
      </bb-panel>
      <bb-panel-divider #divider4 [parent]="topWindow" [axis]="'x'"></bb-panel-divider>
      <bb-panel #bottomWindow236 id="bottom-window2" [isView]='false' [parent]="topWindow" [divider]="divider3q"
        [rFlex]="true">

        <bb-panel id="top-window2" #topWindow2q [isView]='false' [parent]="bottomWindow236" [rFlex]="true">
            <app-test class="inside"></app-test>
        </bb-panel>
        <bb-panel-divider #divider3q [parent]="bottomWindow236" [axis]="'y'"></bb-panel-divider>
        <bb-panel #bottomWindow23q id="bottom-window2" [isView]='false' [parent]="bottomWindow236" [rFlex]="true">
            <app-test class="inside"></app-test>
        </bb-panel>

      </bb-panel>
    </bb-panel>
    <bb-panel-divider #divider2 [parent]="editor" [axis]="'y'"></bb-panel-divider>
    <bb-panel #bottomWindow2 id="bottom-window" [isView]='false' [parent]="editor" [divider]="divider3" [rFlex]="true">
      <bb-panel id="top-window2" #topWindow2 [isView]='false' [parent]="bottomWindow2" #modelTop1 [rFlex]="true">
          <app-test class="inside"></app-test>

      </bb-panel>
      <bb-panel-divider #divider3 [parent]="bottomWindow2" [id]="'divider3'" [axis]="'y'"></bb-panel-divider>
      <bb-panel #bottomWindow23 id="bottom-window2" [isView]='false' [parent]="bottomWindow2" [rFlex]="true">
          <app-test class="inside"></app-test>
          <app-test class="inside"></app-test>
      </bb-panel>
    </bb-panel>
  </bb-panel>

</div>
