$spacing: 8px;

/**
 * Content Layout
 */
.content {
  display: flex;
  flex-flow: column nowrap;
}
$spacing: 8px;

/**
 * Content Layout
 */
.content {
  display: flex;
  flex-flow: column nowrap;
}
.row {
  flex: 1 1 300px;
  display: flex;
  max-width: 100%;
  flex-flow: row nowrap;
  overflow: hidden;
  &.resizable {
    flex: 0 0 300px;
  }
}
.cell {
  box-sizing: border-box;
  overflow: visible;
  background: #fff;
  flex-flow: row nowrap;
  border: $spacing/2 solid #f0f0f0;
  flex: 1 1 30%;
  min-width: 35px;
  overflow: hidden;
  min-height: 35px;
  &.resizable {
    flex: 0 0 400px;
  }
}

/**
 * Resizable Handles
 */
.resizable {
  position: relative;

}
.rg-none {
  display: none;
}
.rg-right,
.rg-left,
.rg-top,
.rg-bottom {
  display: block;
  width: $spacing;
  height: $spacing;
  line-height: $spacing;
  user-select: none;
  background: transparent;
  position: absolute;
  z-index: 1;
  span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
  }
}
.rg-right,
.rg-left {
  span {
    border-width: 0 1px;
    top: 50%;
    margin-top: -10px;
    margin: -10px 0 0 $spacing/4;
    height: 20px;
    width: $spacing/2;
  }
}
.rg-top,
.rg-bottom {
  span {
    border-width: 1px 0;
    left: 50%;
    margin: $spacing/4 0 0 -10px;
    width: 20px;
    height: $spacing/2;
  }
}
.rg-top {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -#{$spacing/2};
}
.rg-right {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -#{$spacing};
}
.rg-bottom {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -#{$spacing/2};
}
.rg-left {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -#{$spacing};
}

/**
 * Column Layout Overrides
 */
.content.cols {
  flex-flow: row nowrap;
  .row {
    flex-flow: column nowrap;
  }
  .cell {
    min-width: 60px;
  }
  .rg-top {
    margin-top: -#{$spacing};
  }
  .rg-right {
    margin-right: -#{$spacing/2};
  }
  .rg-bottom {
    margin-bottom: -#{$spacing};
  }
  .rg-left {
    margin-left: -#{$spacing/2};
  }
}
.min-width {
  min-width: 150px;
}

/**
 * Resizable Handles
 */
.resizable {
  position: relative;
 
}
.rg-none {
  display: none;
}
.rg-right,
.rg-left,
.rg-top,
.rg-bottom {
  display: block;
  width: $spacing;
  height: $spacing;
  line-height: $spacing;
  user-select: none;
  background: transparent;
  position: absolute;
  z-index: 1;
  span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
  }
}
.rg-right,
.rg-left {
  span {
    border-width: 0 1px;
    top: 50%;
    margin-top: -10px;
    margin: -10px 0 0 $spacing/4;
    height: 20px;
    width: $spacing/2;
  }
}
.rg-top,
.rg-bottom {
  span {
    border-width: 1px 0;
    left: 50%;
    margin: $spacing/4 0 0 -10px;
    width: 20px;
    height: $spacing/2;
  }
}
.rg-top {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -#{$spacing/2};
}
.rg-right {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -#{$spacing};
}
.rg-bottom {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -#{$spacing/2};
}
.rg-left {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -#{$spacing};
}

/**
 * Column Layout Overrides
 */
.content.cols {
  flex-flow: row nowrap;
  .row {
    flex-flow: column nowrap;
  }
  .cell {
    min-width: 60px;
  }
  .rg-top {
    margin-top: -#{$spacing};
  }
  .rg-right {
    margin-right: -#{$spacing/2};
  }
  .rg-bottom {
    margin-bottom: -#{$spacing};
  }
  .rg-left {
    margin-left: -#{$spacing/2};
  }
}

.modal-control {
  // position: absolute;
  right: 0px;
  z-index: 1;
  background-color: black;
}
.spacer {
  flex: 1;
}
.modal-window-max {
  width: 15px;
  height: 15px;
  border-top: solid #a4d0f7 8px;
  border-right: solid #a4d0f7 8px;
  border-bottom: 0px;
  border-left: 0px;
  cursor: pointer;
}

.closable {
  cursor: pointer;
}
.modal-window-min {
  width: 15px;
  height: 15px;
  border-bottom: solid #a4d0f7 5px;
  border-left: solid #a4d0f7 5px;
  cursor: pointer;
  border-right: solid #000 5px;
  border-top: solid #000 5px;
}

.closed {
  position: relative;
  display: none !important;
  width: 35px !important;
  min-width: 35px !important;
  max-width: 35px !important;
  background-color: #000;
}

.fullscreen {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 1000;
}
.minimize {
  max-width: 30px;
}

